@import './../../../shared/index.scss';

.titleFront {
    display: flex;
    margin-top: -134px;
    margin-left: 64px;
}

.title{
    @include Heading-Extra-Large();

    &_dark{
        color: #dde4ad;
        margin: 0;
        letter-spacing: 32px;
    }

    &_light{
        color: #ffffff;
        margin: 0;
    }
}